<p id="notice"><%= notice %></p>

<h1>Eventos</h1>

<table border 1>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Fecha</th>
      <th>Descripcion</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @eventos.each do |evento| %>
      <tr>
        <td><%= evento.nombre %></td>
        <td><%= evento.fecha %></td>
        <td><%= evento.descripcion %></td>
        <td><%= link_to 'Mostrar', evento %></td>
        <td><%= link_to 'Editar', edit_evento_path(evento) %></td>
        <td><%= link_to 'Eliminar', evento, method: :delete, data: { confirm: 'Esta seguro de eliminar evento?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Evento', new_evento_path %>
